.Dashboard {
  padding-top: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

.metrics {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.metric {
  width: 130px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.metric span {
  display: block;
}

.metric-value {
  font-size: 50px;
}
